body {
    background-color:aliceblue;
}



#banner-img {
    height: 100%;
}



.banner-text {
    width: 78%;
}

.banner-text h1 {
   font-size: 700px;
    
    font-family:cursive;
}

.banner-text p {
    text-align: center;
}
#banner{
    background-color: #00314E;
}
#budget-box{
    background-color: #00314E;
}


.card img {
    /* height: 180px; */

}

li {
    margin: 15px 0px;
}

.list-items {
    height: 365px;

}

.btn-common:focus {
    background-color:orangered;
}

label {
    color: white;
    font-weight: bold;
}

input {
    background-color: aliceblue;
   
} 
 .banner-text h1 {
        font-size: 700px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }

    

    .banner-text p {
        text-align: center;
    }



